---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-function-cognitive-complexity
"

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
  - { key: readability-identifier-length.IgnoredVariableNames, value: '^i$|^j$|^k$|^x$|^y$|^z$|^id$|^_s$' }
SystemHeaders:   false
...

